.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/megaLMM/allLOC_2023-2024/2023-2024_4863/Posterior/G_5000.rds
output/megaLMM/allLOC_2023-2024/2023-2024_4863/Posterior/R_5000.rds
output/megaLMM/allLOC_2023-2024/2023-2024_4863/Posterior/U_CV2_5000.rds
output/megaLMM/allLOC_2023-2024/2023-2024_4863/Posterior/U_CV2noU_R_5000.rds

