.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
output/megaLMM/allLOC_2023-2024/2023-2024_4863/Posterior
output/megaLMM/allLOC_2023-2024/2023-2024_1592/Posterior
output/Light_Interception
output/megaLMM/individualLOC_2023-2024
output/megaLMM/individualLOCgBLUP_2023-2024
